<!-- map,listing,ads -->
<div class="row">

	<!-- listing -->
	<div class="col-sm-7" style="border-radius: 0px; margin-bottom: 0px;">

		<div class="well center title-list">
			<ul style="margin: 0;font-weight: bold;">Most Recent Listings:</ul>
		</div>

		<div class="col-sm-12 scroll-list">

			<!-- property -->
			<div class="mini_property_wrapper">
				<div class="row">
					<div class="col-sm-12">

						<!-- property IMG-->
						<div class="col-xs-6 thumb thumb_property center">
							<a href="<?php echo URL;?>/home/property" class="img_holder">
								<img src="<?php echo URL;?>img/listings/1/1-1.jpg" alt="">
							</a>
						</div>
						<!-- /property IMG-->

						<!-- property Info-->
						<div class="col-xs-6 thumb_info">
							<h3>Price : $750.00</h3>
							<p><button href="<?php echo URL;?>/home/property">Available Now</button></p>
							<br>
							<p>
								<p>4 Bedroom House</p>
								<p>The Frontyard, Richmond, TW10</p>
								<a href="<?php echo URL;?>/home/property">more info...</a>
							</p>
						</div>
						<!-- /property Info-->

					</div>
				</div>
				<div class="row"><hr id="hr"></div>
			</div>
			<!-- /property -->

			<div class="mini_property_wrapper">
				<div class="row">
					<div class="col-sm-12">

						<!-- property IMG-->
						<div class="col-xs-6 thumb thumb_property center">
							<a href="<?php echo URL;?>/home/property" class="img_holder">
								<img src="<?php echo URL;?>img/listings/2/2-1.jpg" alt="">
							</a>
						</div>
						<!-- /property IMG-->

						<!-- property Info-->
						<div class="col-xs-6 thumb_info">
							<h3>Price : $550.00</h3>
							<p><button href="<?php echo URL;?>/home/property">Available Now</button></p>
							<br>
							<p>
								<p>4 Bedroom House</p>
								<p>The Frontyard, Richmond, TW10</p>
								<a href="<?php echo URL;?>/home/property">more info...</a>
							</p>
						</div>
						<!-- /property Info-->

					</div>
				</div>
				<div class="row"><hr id="hr"></div>
			</div>

			<div class="mini_property_wrapper">
				<div class="row">
					<div class="col-sm-12">

						<!-- property IMG-->
						<div class="col-xs-6 thumb thumb_property center">
							<a href="<?php echo URL;?>/home/property" class="img_holder">
								<img src="<?php echo URL;?>img/listings/5/5-1.jpg" alt="">
							</a>
						</div>
						<!-- /property IMG-->

						<!-- property Info-->
						<div class="col-xs-6 thumb_info">
							<h3>Price : $700.00</h3>
							<p><button href="<?php echo URL;?>/home/property">Available Now</button></p>
							<br>
							<p>
								<p>4 Bedroom House</p>
								<p>The Frontyard, Richmond, TW10</p>
								<a href="<?php echo URL;?>/home/property">more info...</a>
							</p>
						</div>
						<!-- /property Info-->



					</div>
				</div>
				<div class="row"><hr id="hr"></div>
			</div>

			<div class="mini_property_wrapper">
				<div class="row">
					<div class="col-sm-12">

						<!-- property IMG-->
						<div class="col-xs-6 thumb thumb_property">
							<a href="<?php echo URL;?>/home/property" class="img_holder">
								<img src="<?php echo URL;?>img/listings/3/3-5.jpg" alt="">
							</a>
						</div>
						<!-- /property IMG-->

						<!-- property Info-->
						<div class="col-xs-6 thumb_info">
							<h3>Price : $650.00</h3>
							<p><button href="<?php echo URL;?>/home/property">Available Now</button></p>
							<br>
							<p>
								<p>4 Bedroom House</p>
								<p>The Frontyard, Richmond, TW10</p>
								<a href="<?php echo URL;?>/home/property">more info...</a>
							</p>
						</div>
						<!-- /property Info-->

					</div>
				</div>
				<div class="row"><hr id="hr"></div>
			</div>

		</div>


	</div>
	<!-- /listing -->

	<!-- map & ads -->
	<div class="col-sm-5 row">

		<!-- map -->
		<!-- div class="row map-wrapper" -->
			<div id="gmap"></div>
		<!-- /div -->
		<!-- /map -->

		<!-- ads -->
		<div class="row">
			<div class="col-sm-12 col-xs-6 ad">
				<img src="http://i4.mirror.co.uk/incoming/article4773907.ece/ALTERNATES/s615b/Coca-Cola-christmas.jpg" style="height: 100%; width:100%;">
			</div>
		</div>
		<!-- /ads -->

	</div>
	<!-- /map & ads -->

</div>
<!-- /map,listing,ads -->

<!-- footer -->
<footer>

	<div class="col-xs-6">
		<p>
			<a href="<?php echo URL;?>home/index">Home</a> |
			<a href="<?php echo URL;?>home/about">About</a> |
			<a href="<?php echo URL;?>home/typography">Typography</a> |
			<a href="<?php echo URL;?>home/terms">Terms and Conditions</a> |
			<a href="<?php echo URL;?>home/contact">Contact Us</a>
		</p>
	</div>

	<div class="col-xs-6 pull-right text-right">
		<p>
			All content © 2014 | <a href="<?php echo URL;?>home/about">Built with Twitter Bootstrap</a> | <a href="https://wrapbootstrap.com/">WrapBootstrap</a>
		</p>
	</div>

</footer>
<!-- /footer -->

<!-- google maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbTAiniS56gZ1ZGGWK9oU1mZ2S0488wJs&callback=initMap" async defer></script>
<!-- /google maps -->
