<script type="text/javascript">
    function displayMessage(messageId) {
       if(messageId=='message0001'){
         document.getElementById('messageContent').innerHTML = "Hello, my name is Johnny Appleseed, and I'm an ideal renter.";
       }
       elseif(messageId=='message0002'){
         document.getElementById('messageContent').innerHTML = "Hello, my name is Jane Estudiante, and the best tenant you'll ever have.";
       }
    }
</script>

<table id="table">
  <tr>
    <th id="property">Property</th>
    <th id="messsageFrom">Message from:</th>
  </tr>
  <tr>
    <td headers="property"><div onclick="displayMessage(message0001);">1505 Holloway Avenue</div></td>
    <td headers="messsageFrom" id="message0001"><div onclick="displayMessage(message0001);">Johnny Appleseed</div></td>
  </tr>
  <tr>
    <td headers="property"><div onclick="displayMessage(message0001);">1505 Holloway Avenue</div></td>
    <td headers="messageFrom" id="message0002"><div onclick="displayMessage(message0001);">Jane Estudiante</div></td>
  </tr>
  <div id="messageContent">
  </div>
</table>
