<table id="table">
  <tr>
    <th id="property">Property</th>
    <th id="messsageFrom">Message from:</th>
  </tr>
  <tr>
    <td headers="property">1505 Holloway Avenue</td>
    <td headers="messsageFrom">Johnny Appleseed</td>
  </tr>
  <tr>
    <td headers="property">1505 Holloway Avenue</td>
    <td headers="messageFrom">Jane Estudiante</td>
  </tr>
</table>

<script $("#table tr").click(function(){
  $(this).addClass('selected').siblings().removeClass('selected');
  var value=$(this).find('td:first').html();
  alert(value);
});

$('.ok').on('click', function(e){
  alert($("#table tr.selected td:first").html());
}] />
