#listing-thumbnail{
  height:110px;
}

.purple{
  color:#690069;
}

.green{
  color:#448800;
}

.gatorForm{
  width:340px;
}

.alert{
  padding:2px;
  margin-bottom:0;
  font-size:1rem;
}
.inputSuccess{
  display:none;
}

.inputFail{
  display:none;
}

.hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}
