#map {
  height: 380px;
  width: ;
}

.well-map {
  min-height: 20px;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

@media (min-width: 992px) and (max-width: 4000px) {
    .col-sm-3l {
        float: right;
        color:red;
    }
}

.thumb_property {
  display: block !important;
  margin-bottom: 1px !important;
  line-height: 1 !important;
}

.thumb {
  display: block !important;
  position: relative !important;
  padding: 5px !important;
  background-color: white !important;
  border: 2px solid #dddddd !important;
  border-radius: 3px !important;
  transition: all 0.2s ease-in-out !important;
}

.thumb a > img {
  height: 25vh !important;
  object-fit: fill !important;
}

div.centermid {
    display: flex;
    align-items: center;
    justify-content: center;
}


#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
