/*  Imported Google Fonts
*   font-family: 'Anton', sans-serif;
*   font-family: 'Open Sans Condensed', sans-serif;
*   font-family: 'Roboto', sans-serif;
*
*
*
*/


html, body, p, ul, li, h1, h2, h3, h4, a, button{
    padding:0;
    margin:0;
}

body{

    font-family: 'Open Sans Condensed', sans-serif;
}

button{
    font-family: 'Roboto', sans-serif;
}

label{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration:none;
}

a:hover{
    text-decoration:none;
}
a:visted{
    text-decoration:none;
}
a:active{
    text-decoration:none;
}
/*
*
*   Header Elements
*
*/

.logoContainer{
    padding-top:10px;
    padding-bottom:10px;
}
.logoText{
    font-size:4rem;
}

.logoLink{
    font-size:2rem;
    margin-right:10px;
    margin-top:15px;
}

.logoContainer{
    background-color:black;
    color:white;
    font-family: 'Anton', sans-serif;
}

.logoContainer a{
    color:white;
}
/*
*
*   Header Elements End
*
*/


/*
*
*   Main Container Elements
*
*/

.mainContainer{
    margin-top:30px;
}

/*
*
*   Main Container Elements End
*
*/


.listing{
  font-size:1.8rem;
  border:1px solid black;
  border-radius:5px;
  margin-bottom:10px;
  padding:10px;

}

.listingHeader{

  color:#2D97BA;
  font-weight:600;

}

.listingDescription{

  font-size:1.6rem;

}



.img{

  width:180px;
  height:180px;

}


